.navigation {
  /* padding-left: 20px; */
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.vote_num {
  float: left;
  width: 25px;
  padding-top: 15px;
}

.votes {
  float: left;
  width: 30px;
}

.post {
  display: inline-block;
  margin: 5px;
}

ul {
  list-style: none;
}

.post_text {
  float: left;
}

.post_text > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
